<!-- Yankee -->
<h1>Buzzfeed's Top 25 Sentences You Won't Believe Someone Typed!</h1>
<ul>
<li>A folksy way to party but eight</li>
<li>For he who believes the God to hear wrong</li>
<li>I think this might cause my voracious fart</li>
<li>Everybody wants to rule the realm</li>
<li>Have ever had to knock on wood Evan?</li>
<li>Oh shit I am typing backwards lol</li>
<li>My favorite word is halter toe</li>
<li>You really should not talk to tenors or altos</li>
<li>Forget about it or else we falter</li>
<li>Jessica dumped me for no paste</li>
<li>Mega Man is weak against lovers of Chinese food</li>
<li>Love heals all except Alf refunds</li>
<li>Danny Methane thought he left his keys behind</li>
<li>Rabbits are illegal in these estates</li>
<li>PARTY HARD PARTY HARD wait no never mind</li>
<li>Last time I checked we had Arts but it was Farts</li>
<li>How the hell did the Bengals sing that loud</li>
<li>Whatever you do do not give salt after midnight</li>
<li>Does anyone remember my lyrics to Come Sail Away</li>
<li>The Sega Genesis has blast processing galore</li>
<li>Crash Test Dummies Mmm Mmm Mmm Mmm</li>
<li>Diet Mountain Dew makes many penises shrivel eww</li>
<li>All in all we are just another American Horror Story</li>
<li>My new cat Vivi likes dry food now</li>
<li>Did you all manage to actually read this</li>
</ul>