<!-- Zulu -->
Sometimes I need some help, so I reach out to an old friend, who sent me the following responses:<br />
<br />
<ul>
<li>Forget you, Whitey! I'm going solo! 11 || 7</li>
<li>Get out of here, you little runt! 7 || 6</li>
<li>I miss Kristin...a. 12 || 9</li>
<li>It took me a little while to figure out what I was going to do. Then I duct-taped an alarm clock to your VCR. 4 || 2</li>
<li>Keep it up, Strong Bad. Keep up the pace! 8 || 5</li>
<li>Oh wait, my hands are just glued to my face. Oh well, I'll take that. 9 || 7</li>
<li>Prude me in, Couch Z! I'm Reggie Toupee! 13 || 12</li>
<li>This is some good cake! 13 || 9</li>
<li>What? These games are fixed! Check the East German's pants! 9 || 5</li>
</ul>