My workout routine is so extreme, my friends call me the "Ab Ra": of the gym, but that's not everything! You HAVE to work the mind!<br />
<br />
I found these words that strain my brain; makes me think of playing Frogger, bouncing back and forth.<br />
<br />
<ul>
        <li>KINDLY</li>
        <li>AARDVARK</li>
        <li>AMBUSH</li>
        <li>ALGEBRA</li>
        <li>ANTIFASCISM</li>
        <li>KORN</li>
        <li>CRANED</li>
        <li>BANISH</li>
        <li>BACKSTAGE</li>
        <li>ROMEO</li>
        <li>CRANSTON</li>
</ul>