<!-- Mike -->
Much like Alexander Hamilton, I am not throwing away my shot.<br />
<br />
<ul>
<li>5 4, 3 || 6</li>
<li>10 2 4 4 || 9</li>
<li>4 5 4? || 12</li>
<li>3 4 5 2 7 || 14</li>
<li>3 5, 3 4, 3 5 4 5 || 3</li>
<li>3 8 8 || 12</li>
</ul>