The three of us looked at each other, baffled by the reaction the chemical: was giving us.<br />
<br />
"This one gives me a feeling that's the oldest."<br />
<br />
"Funny, mine's the....middlest."<br />
<br />
"Mine's familiar, but not too familiar...but not too not familiar."<br />
<br />
<ul>
<li>375</li>
<li>210</li>
<li>114</li>
<li>365</li>
<li>5</li>
<li>87</li>
<li>186</li>
<li>325</li>
<li>264</li>
</ul>