Let me tell you some phrases GUARANTEED to bring in the money.<br />
<br />
<ul>
        <li>A thing that is composed of two or more separate elements (8)</li>
        <li>F word, Animalia Chordata Aves Galliformes Phasianidae Perdicinae (9)</li>
        <li>Shenzi, Banzai, Ed (plural) (6)</li>
        <li>Family Guy writer, according to South Park (singular) (7)</li>
        <li>1/1000th of angular measurement (11)</li>
        <li>e.g. traumatic, Morton's (7)</li>
        <li>A casual or brief expression of thought or opinion (6)</li>
        <li>Able to be omitted or passed over without loss; unimportant. Press Start. (9)</li>
        <li>S word, having bizarre or strange qualities, dreamlike (7)</li>
</ul>
<br />
<br />
<ul>
        <li>7</li>
        <li>7</li>
        <li>7</li>
        <li>7</li>
        <li>5</li>
        <li>1</li>
        <li>5</li>
        <li>1</li>
        <li>6</li>
</ul>