Let me tell you some phrases GUARANTEED to bring in the money.<br />
<br />
<ul>
<li>Seven letter word for half man half horse</li>
<li>A ten letter E-word to represent in human or animal form</li>
<li>The seven letter term used for someone trained in scuba diving, or a watch by Casio</li>
<li>Ten letter word to act in a way to attract attention and to influence the opinion of people watching</li>
<li>Eleven letters. Spongebob, Catdog, Rocko's Modern Life, Hey Dude, iCarly...</li>
<li>Twelve letter word of a European pole weapon, 6-8 feet long</li>
<li>Six letter R-word to free of impurities as part of an industrial process</li>
<li>Nine letter word a set consisting of one given element</li>
<li>Nine letter W-word of a clever or sarcastic remark</li>
</ul>
<br />
<br />
<ul>
    <li>5</li>
    <li>6</li>
    <li>3</li>
    <li>3</li>
    <li>7</li>
    <li>1</li>
    <li>3</li>
    <li>6</li>
    <li>3</li>
</ul>