We here in the Ohio think that our Bucks: can handle whatever's thrown at them. However, some people think they're over estimating.<br />
<br />
Silly note: Once you have the answer, pluralize it. Thanks.<br />
<ul>
<li>A small bay or narrow creek (in Orkney and Shetland)</li>
<li>Anglican Bishop, Field Flowers</li>
<li>Castlevania subtitle; The Stolen Seal</li>
<li>Central bank of the United Kingdom</li>
<li>Don't stub</li>
<li>Duane Bridgeford</li>
<li>Enemy</li>
<li>Eosinophilic Esophagitis</li>
<li>Everquest, Star Wars creator</li>
<li>February 2002 photographic record of all listed buildings in England</li>
<li>First law of thermodynamics</li>
<li>Great sorrow or distress</li>
<li>Kickstarter 297265509</li>
<li>Kravitz, Saldana, Quinn</li>
<li>Lonely, Your Light, Truthseeker, Despite All, Thrive, La da De Du</li>
<li>Long handled gardening tool</li>
<li>Project Activity that must be done to support other work activities or the entire project</li>
<li>Quality of Experience</li>
<li>Series of games developed by Ensemble Studios</li>
<li>Szyslak, Howard</li>
<li>The mass of eggs, or spawn, within the ovarian membrane of the female fish</li>
<li>Vampires, and Werewolves, and Demons, oh my!</li>
<li>Viewtiful, & Mac</li>
<li>www.ed.ac.uk</li>
<li>Zelda Ghost</li>
</ul>