I know, you want to automate how to catch them, so you write a macross: to do this, but Ash won’t like that. You’ve gotta catch ‘em all some other way! Please only use the originals.<br /
<br />
<ul>
<li>One more than a gross</li>
<li>The 27th prime</li>
<li>The 25th square free integer</li>
<li>0x72</li>
<li>38th base 10 Harshad number</li>
<li>Cube root of the 24th perfect cube</li>
<li>1100000</li>
<li>5x + 17 = 16x - 5</li>
</ul>