As the world's 579th greatest rapper, I'm here to drop a few lines.<br />
<br />
<ul>
<li>Ain nbyg inbyl nqi aosm ch nbycl mcabnm uhx ujn ni qlywe nbyg. Acpy nby vyunxiqh ni sio kocweyl nbuh siol zchayl ch Nyeeyh.</li>
<li>Qji qtlpgt: hdbt iwdjvwih pgt upciphxth pcs diwtgh rdas wpgs uprih. Dcrt ndj’kt vxktc ndjg piitcixdc, ndj rpc’i ipzt xi qprz.</li>
<li>Yv nreuvivu kyv wfivjk ze jvrity fw jfdv wffu. R tflgcv ultb tritrjjvj (fw nyzty yv rggifmvu)</li>
<li>Wms ypc jgicjw rm zc cyrcl zw y epsc. Gd rfgq npcbgaykclr qcckq nyprgasjypjw apscj</li>
<li>Oek wej de huqied je ru jofydw, ouj oek fuhiyij. Xyj uqsx auo myjx oekh vyij jybb oek fkdsx ekj oekh jef jud byij</li>
<li>W uch uozzcdwbu rfcdgm obr qvssgs kogvsf'g zibu. Zsojsg as kwhv Oghvsbwo, Hvs Qfcid, obr o ribu vsod</li>
<li>Ugew sfv tw kcwhlausd, ugew sfv kww khwulsudw. Twsj oalfwkk lg eakvajwulk A wphwul lg hmdd.</li>
<li>Zmc sgd adc’r qhfgs sgdqd ats hs cnm’s pthsd adbjnm; sqx sn rhs toqhfgs enq zmnsgdq bntokd rdbnmcr </li>
<li>Tebk F ebxo qeb tloa "clobfdk" F dl fjjbafxqbiv altk ql qeb DolzbovZl</li>
<li>D noviy nzqziot-nzqzi azzo ovgg, D’qz bjo zdbco wvggn, viy vgg ja t’vgg vmz npwezxo oj ht ocmvgg</li>
</ul>