Did you know that Batman: prepares himself for as much as possible, but even he knows when his days are numbered.
<ol>
<li>Something Good Can Work, Undercover Martyn, Changing of the Seasons</li>
<li>Vanity, Tonightless, I Let Go</li>
<li>Heavydirtysoul, Stressed Out, Guns for Hands</li>
<li>Kryptonite, When I'm Gone, It's Not My Time</li>
<li>ABC, The Love You Save, Get It Together</li>
</ol>