These are all airport codes that you must figure out where it is located, and then index out the letter of the city using the number provided for each airport code.<br />
<br />
<ul>
<li>YWK = Wabush with the index 2 with the letter A</li>
<li>BWI = WashingtonDC with the index 3 with the letter S</li>
<li>KPT = Jackpot with the index 5 with the letter P</li>
<li>GUM = Hagatna with the index 1 with the letter H</li>
<li>ENC = Nancy with the index 5 with the letter Y</li>
<li>GPT = GulfportBiloxi with the index 13 with the letter X</li>
<li>TAO = Qingdao with the index 2 with the letter I</li>
<li>AZO = Kalamazoo with the index 6 with the letter A</li>
<li>SMF = Sacramento with the index 9 with the letter T</li>
<li>LAE = Lae with the index 3 with the letter E</li>
<li>MMM = Middlemount with the index 4 with the letter D</li>
</ul>