Who loves a bitly chain?...Anyone?<br />
<br />
This puzzle can be broken down into three phases: Bitly, Bitly 2: The Bittening, and Spell Check.<br />
<br />
For the first phase, the player has to figure out who Harry and Ron are talking about in each small snippet. They are, as follows:<br />
<br />
Finster<br />
Scratchansniff<br />
KelliMedd<br />
MagiLune<br />
Flabber<br />
MadDogMcCree<br />
Batley<br />
TomServo<br />
<br />
For the second phase, once you have them figured out, the last bitly says that the player didn't figure out who it REALLY was, and the player now has to figure out who portrayed each of these characters. Again, they are, as follows:<br />
<br />
RobertAxelrod<br />
RobPaulsen<br />
DanaPlato<br />
GraceZabriskie<br />
BillyForester<br />
RustyDillen<br />
JamesKroupa<br />
JoshWeinstein<br />
<br />
Each bitly shows a piece of a QR code that the player must assemble (the last bitly in the first phase provides a free ninth piece). Assembling the <a href="https://imgur.com/a/sObQJ" target="_blank">QR code</a> gives you a TERRIBLY written final portion that has various typos. Track what the typos are, and in order, you will get "APOXONYOU"