<i>Dear Strong Bad, how do you make puzzle hunts with boxing gloves on?</i><br />
<br />
Yep, it's a Strong Bad Email puzzle! Each of these lines is from an episode of Strong Bad Email, and in particular, a character from the show. The first number in the line is the length of the name; the second number is the character you need from said name.<br />
<br />
They are out of order, though; you'll also need to track the episode number. Here's the result with the episodes in the correct order:<br />
<br />
<ul>
        <li>Episode 28: "Oh wait, my hands are just glued to my face. Oh well, I'll take that." was said by STRONGSAD with the retrieved letter S</li>
        <li>Episode 30: "It took me a little while to figure out what I was going to do. Then I duct-taped an alarm clock to your VCR." was said by BUBS with the retrieved letter U</li>
        <li>Episode 53: "I miss Kristin...a." was said by WHATSHERFACE with the retrieved letter F</li>
        <li>Episode 61: "This is some good cake!" was said by THEKINGOFTOWN with the retrieved letter F</li>
        <li>Episode 87: "Keep it up, Strong Bad. Keep up the pace!" was said by MARZIPAN with the retrieved letter I</li>
        <li>Episode 96: "Forget you, Whitey! I'm going solo!" was said by DOREAUXGARD with the retrieved letter X</li>
        <li>Episode 133: "Get out of here, you little runt!" was said by MARSHIE with the retrieved letter I</li>
        <li>Episode 165: "What? These games are fixed! Check the East German's pants!" was said by STRONGBAD with the retrieved letter N</li>
        <li>Episode 207: "Prude me in, Couch Z! I'm Reggie Toupee!" was said by SENORCARDGAGE with the retrieved letter G</li>
</ul>