The flavor text and title hint at the musical Hamilton.<br />
<br />
So each line is a different song title from the musical. The commas and question marks have been left alone, and all that's left are numbers that indicate how long each word in the song is. The number after the || indicates what character to index out of the song title.<br />
<br />
<ul>
        <li>5 4, 3 = Aaron Burr, Sir with an indexed letter B</li>
        <li>10 2 4 4 = Washington On Your Side with an indexed letter O</li>
        <li>4 5 4? = What Comes Next? with an indexed letter X</li>
        <li>3 4 5 2 7 = The Room Where It Happens with an indexed letter T</li>
        <li>3 5, 3 4, 3 5 4 5 = Who Lives, Who Dies, Who Tells Your Story with an indexed letter O</li>
        <li>3 8 8 = The Reynolds Pamphlet with an indexed letter P</li>
</ul>
This spells out "BOXTOP" which is the answer to the puzzle. Now don't let yourself be outside of the room where it happens.