The code on the page is a YouTube video id for a private video uploaded with my wife and my new cat, Vivi!<br />
<br />
Isn't the new kitty cute?...But MAN, my wife describes her very weirdly.<br />
<br />
There's a lot of debate on if "GIF" is pronounced with a soft or hard G. Jen saying "Jiffy" or "Giffy" clues to this. Furthermore, we are talking about a giffy cat. This clues to the website gfycat.com<br />
<br />
Gfycat creates its URLs not on random letters, but on random adjectives onto a random animal. As such, Jen described Vivi as an "everlasting, foolhardy dwarf mongoose".<br />
<br />
Going to <a href="https://gfycat.com/EverlastingFoolhardyDwarfMongoose" target="_blank">https://gfycat.com/EverlastingFoolhardyDwarfMongoose</a> shows a magic eye picture. If you cannot see the results of a magic eye yourself, here is what was hidden:<br />
<br />
<img src="../../kittysolved.png" />