Yeah, that's a doozy of a string, huh. But that first string is actually a Base 32 string. Convert it to ASCII and you'll get "54 57 56 30 63 6d 38 73 49 46 42 79 61 58 70 74 4c 43 42 76 63 69 42 54 63 47 56 6a 64 48 4a 31 62 51 30 4b 44 51 70 42 49 47 52 70 63 32 67 67 62 32 59 67 59 32 39 76 61 32 56 6b 49 47 31 6c 59 58 51 67 59 32 39 76 61 32 56 6b 49 47 46 6e 59 57 6c 75 49 48 56 7a 64 57 46 73 62 48 6b 67 64 32 6c 30 61 43 42 77 62 33 52 68 64 47 39 6c 63 79 77 67 62 33 49 67 63 6d 56 7a 61 57 34 67 5a 6e 4a 76 62 53 42 6a 59 57 35 75 59 57 4a 70 63 77 30 4b 44 51 70 5a 59 57 74 72 62 79 77 67 56 32 46 72 61 32 38 75 4c 69 34 4e 43 67 30 4b 54 33 4a 6e 59 57 35 70 65 6d 46 30 61 57 39 75 44 51 6f 4e 43 6c 4e 68 64 57 77 67 61 48 56 6b 63 32 39 75 44 51 6f 4e 43 6a 6c 78 63 57 35 6b 61 47 67 77 64 6a 4d 30 62 67 30 4b 44 51 6f 6f 55 6d 56 74 62 33 5a 6c 49 48 52 6f 5a 53 42 7a 64 48 4a 6c 5a 58 51 70"<br />
<br />
THAT is actually a string of hex characters. Convert that to ASCII and you get "TWV0cm8sIFByaXptLCBvciBTcGVjdHJ1bQ0KDQpBIGRpc2ggb2YgY29va2VkIG1lYXQgY29va2VkIGFnYWluIHVzdWFsbHkgd2l0aCBwb3RhdG9lcywgb3IgcmVzaW4gZnJvbSBjYW5uYWJpcw0KDQpZYWtrbywgV2Fra28uLi4NCg0KT3JnYW5pemF0aW9uDQoNClNhdWwgaHVkc29uDQoNCjlxcW5kaGgwdjM0bg0KDQooUmVtb3ZlIHRoZSBzdHJlZXQp"<br/>
<br />
And <b>THAT</b> is actually Base64. Convert that to ASCII and you get:<br />
<br />
<pre>
Metro, Prizm, or Spectrum

A dish of cooked meat cooked again usually with potatoes, or resin from cannabis

Yakko, Wakko...

Organization

Saul hudson

9qqndhh0v34n

(Remove the street)
</pre>
<br />
The above actually points to a URL of <a href="http://geohash.org/9qqndhh0v34n" target="_blank">http://geohash.org/9qqndhh0v34n</a>, which is a mapping service. Zoom all the way in and you'll end up on Ethan Hawke Street; as the above clue said, remove the street, and you have ETHAN HAWKE which is the answer.