You up for a maze? Then let's do it!<br />
<br />
On the page is an image, maze1.png. Solving it only has one path, which is here (keep this nearby):<br />
<br />
<img src="../../maze1solve.png" /><br />
<br />
Following the path to solve it and tracking the hex characters inside, then taking those hex characters and converting to ASCII, gets you "MAZE555.PNG". This is in reference to an actual file on the server, <a href="http://www.jdxmaspuzzles.fun/maze555.png">maze555.png</a>, which is another maze to solve. Solving it gives you this pattern:<br />
<br />
<img src="../../maze2solve.png" /><br />
<br />
Follow this path as well and converting the hex to ASCII gets you "GOBACKTOFIRSTMAZEBECAUSEITWASARAR", which can be spaced out to "GO BACK TO FIRST MAZE BECAUSE IT WAS A RAR". If you rename the first file's filename to rar, yes, it is a valid rar file with a hint file and a password locked rar file.<br />
<br />
The hint says "During your exploration of the second maze, you came across four junctures. Tell us the first thing you see if you went the other way." The below are the four spots, circled with a red circle.<br />
<br />
<img src="../../maze3solve.png" /><br />
<br />
Which converts to ASCII as "FART" which is the password for the locked rar; inside of THIS rar is another password locked rar and a png called "nospaces". This png lines up perfectly over the second maze, highlighting certain cells:<br />
<br />
<img src="../../maze4solve.png" /><br />
<br />
Again, convert to ASCII and you get, including the exclamation mark, "ADORECATS!" which is the password for the newest rar. Inside of this is another rar password locked file and a hint.txt that contains:<br />
<br />
A7<br />
B6<br />
D1<br />
D3<br />
F2<br />
G1<br />
<br />
Play a game of Battleship on the maze and you'll get the following cells:<br />
<br />
<img src="../../maze5solve.png" /><br />
<br />
Convert to ASCII and you'll get "THEEND" which is the password to the most recent rar; inside of this is NOT a rar file, but a text file that says "Take all of the remaining cells from the first maze, reverse them individually, then read left to right, top to bottom"<br />
<br />
Go back to the first maze and take all of the unused cells and, like it says, reverse each unused cell and convert it for the last time to ASCII to get "GUESS REYKJAVIK", and REYKJAVIK is the final answer.<br />
<br />
Got it? Good.