This puzzle is completely centered on My Brother, My Brother and Me podcast episodes (although it wasn't until afterward that I discovered that the data that was used to generate the puzzle was incorrect. Still, we got through it!)<br />
<br />
Using <a href="http://mbmbam.wikia.com/wiki/Episodes" target="_blank">http://mbmbam.wikia.com/wiki/Episodes</a> as the source for the episodes, you get the following:<br />
<br />
<ul>
        <li>375 - Massage Drone Switcheroo</li>
        <li>210 - Yippee Ki-yay, Holy Father</li>
        <li>114 - Roker Poker</li>
        <li>365 - One Guy, One Guy, and a Chicken Place</li>
        <li>5 - Mega-Jessup</li>
        <li>87 - A Murder of Uncles</li>
        <li>186 - Nipple Aesthetics</li>
        <li>325 - Cavemen Tears</li>
        <li>264 - Expecto Punchtronum</li>
</ul>
<br />
Take the first letter of each episode and you get "MY ROMANCE", which is the answer to the puzzle.