This puzzle was centered on palindromes and noticing which letter was either the middle or the point where the word turns in on itself.<br/>
<br />
<ul>
<li>Bus driver for Bart - OTTO with the middle letter T</li>
<li>Leavened bread from Central Asia - NAAN with the middle letter A</li>
<li>The Nanny, Dancing with the Stars tennis player - SELES with the middle letter L</li>
<li>Verhoeven film? Oh... - ELLE with the middle letter L</li>
<li>One who returns another to consciousness or restores to health - REVIVER with the middle letter I</li>
<li>British term for a half note - MINIM with the middle letter N</li>
<li>A principle or belief, especially in religion/philosophy - TENET with the middle letter N</li>
</ul>
<br />
Collect these letters in order and you get TALLINN, which is the answer to the puzzle.