The first step is to figure out the words hinted at in the clues.<br />
<br />
<ul>
<li>A thing that is composed of two or more separate elements - COMPOUND</li>
<li>F word, Animalia Chordata Aves Galliformes Phasianidae Perdicinae - FRANCOLIN</li>
<li>Shenzi, Banzai, Ed (plural) - HYENAS</li>
<li>Family Guy writer, according to South Park (singular) - MANATEE</li>
<li>1/1000 of angular measurement - MILLIRADIAN</li>
<li>e.g. traumatic, Morton's - NEUROMA</li>
<li>A casual or brief expression of thought or opinion - REMARK</li>
<li>Able to be omitted or passed over without loss; unimportant. Press Start. - SKIPPABLE</li>
<li>S word, having bizarre or strange qualities, dreamlike - SURREAL</li>
</ul>
<br />
Step 2 is to realize you need the numbers underneat the list to index into the answers, but doing it in the order provided does not work.<br />
<br />
However, this puzzle said it was tips about money, and none of the clues above mention money at all. However, all of the answers provided contain a type of currency in the world. If you alphabetize by the currency itself, and then index, you get:<br />
<br />
<ul>
<li>N<b>EURO</b>MA - A</li>
<li><b>FRANC</b>OLIN - L</li>
<li>S<b>KIP</b>PABLE - B</li>
<li>MIL<b>LIRA</b>DIAN - A</li>
<li><b>MANAT</b>EE - T</li>
<li>RE<b>MARK</b> - R</li>
<li>COM<b>POUND</b> - O</li>
<li>SUR<b>REAL</b> - S</li>
<li>H<b>YEN</b>AS - S</li>
</ul>
<br />
Those indexed letters spell out "ALBATROSS", which is the answer to the puzzle.