We're going Pokémon hunting! Gen 1!<br />
<br />
The lines of text can each be only one number. You must figure out the number, then find which Pokémon it really is, then the answer is the first letter of each creature in the order listed.<br />
<br />
<ul>
        <li>One more than a gross = 145 = Zapdos</li>
        <li>The 27th prime = 103 = Exeggutor</li>
        <li>The 25th square free integer = 38 = Ninetails</li>
        <li>0x72 = 114 = Tangela</li>
        <li>38th base 10 Harshad number = 112 = Rhydon</li>
        <li>Cube root of the 24th perfect cube = 24 = Arbok</li>
        <li>1100000 = 96 = Drowzee</li>
        <li>5x + 17 = 16x - 5 = 2 = Ivysaur</li>
</ul>