Only one person has ever claimed to be the 579th greatest rapper in the world: MC Frontalot! The below lines are all lyrics from MC Frontalot. The trick is to do a caesar rotate on each song until you get the lyric, then note how much it was rotated, then index into the song title using that number.<br />
<br />
<ul>
        <li>Got them other two guys in their sights and apt to wreck them. Give the beatdown to you quicker than your finger in Tekken. - FINALBOSS with a rotation of 6 which gets you the letter B</li>
        <li>But beware: some thoughts are fantasies and others cold hard facts. Once you’ve given your attention, you can’t take it back. - LISTENCLOSE with a rotation of 11 which gets you the letter E</li>
        <li>He wandered the forest in search of some food. A couple duck carcasses (of which he approved) - WAKJAKAGA with a rotation of 9 which gets you the letter A</li>
        <li>You are likely to be eaten by a grue. If this predicament seems particularly cruel - ITISPITCHDARK with a rotation of 2 which gets you the letter T</li>
        <li>You got no reason to be typing, yet you persist. Hit each key with your fist till you punch out your top ten list - IHATEYOURBLOG with a rotation of 10 which gets you the letter B</li>
        <li>I got galloping dropsy and cheese washer's lung. Leaves me with Asthenia, The Croup, and a dung heap - DISEASESOFYORE with a rotation of 12 which gets you the letter O</li>
        <li>Come and be skeptical, come and see spectacle. Bear witness to misdirects I expect to pull. - BLACKBOX with a rotation of 8 which gets you the letter X</li>
        <li>And the bed’s right there but it don’t quite beckon; try to sit upright for another couple seconds  - INARREARS with a rotation of 1 which gets you the letter I</li>
        <li>When I hear the word "foreign" I go immediately down to the GroceryCo - CANADIA with a rotation of 3 which gets you the letter N</li>
        <li>I stand seventy-seven feet tall, I’ve got eight balls, and all of y’all are subject to my thrall - BRAGGADACIO with a rotation of 5 which gets you the letter G</li>
</ul>
<br />
The resulting letters spell out "BEATBOXING"