The code 1LZ6XMPQP5o points to a <a href="https://www.youtube.com/watch?v=1LZ6XMPQP5o" target="_blank">YouTube</a> video of the greatest song ever written, but with some words censored out. Those words are, in order:<br />
<br />
<ul>
<li>Told</li>
<li>Roll</li>
<li>In</li>
<li>Play</li>
<li>On</li>
<li>Like</li>
<li>It</li>
</ul>
<br />
Take the first letter of each censored word and you get "TRIPOLI"