Each set of songs is done by a particular band (in order):<br />
<br />
<ul>
<li>Two Door Cinema Club</li>
<li>Eighteen Visions</li>
<li>Twenty One Pilots</li>
<li>Three Doors Down</li>
<li>Jackson Five</li>
</ul>
<br />
Each band has a number in it; take that letter number (1 = A, 2 = B, 3 = C, etc.), and you get "BRUCE" which is the answer.