Each set of songs is done by a particular band (in order):<br />
<br />
<ul>
        <li>Something Good Can Work, Undercover Martyn, Changing of the Seasons - Two Door Cinema Club</li>
        <li>Vanity, Tonightless, I Let Go - Eighteen Visions</li>
        <li>Heavydirtysoul, Stressed Out, Guns for Hands - Twenty One Pilots</li>
        <li>Kryptonite, When I'm Gone, It's Not My Time - Three Doors Down</li>
        <li>ABC, The Love You Save, Get It Together - Jackson Five</li>
</ul>
<br />
Each band has a number in it; take that letter number (1 = A, 2 = B, 3 = C, etc.), and you get "BRUCE" which is the answer.