This is actually a Star Battle puzzle; a tutorial can be found <a href="http://starbattle-puzzle.com/tutorial/tutorial-1-star/" target="_blank">here</a> for how it works, but the rules are that every column must contain at most one star, one row must contain one star, all sections must contain one star, and two stars may not be neighbors, even diagonally.<br />
<br />
Complete the Star Battle puzzle, then overlay the letters onto the grid, selecting only the letters that have a star, and it spells "HUTCH".<br />
<br />
Here is the completed puzzle:<br />
<br />
<img src="../../starpuzzlesolve.png" />