The instaudio link has various words being read; one set of words in the left channel, the other in the right. They are all phoenetic alphabet words. If you take those letters and then choose the letter that is EXACTLY in the middle between them, you get "NEUROTOXIN"<br />
<br />
<table>
<tbody>
<tr><td>Left Channel</td><td>Middle letter</td><td>Right Channel</td></tr>
<tr><td>MIKE</td><td>N</td><td>OSCAR</td></tr>
<tr><td>BRAVO</td><td>E</td><td>HOTEL</td></tr>
<tr><td>TANG</td><td>U</td><td>VICTOR</td></tr>
<tr><td>JULIET</td><td>R</td><td>ZULU</td></tr>
<tr><td>ECHO</td><td>O</td><td>YANKEE</td></tr>
<tr><td>QUEBEC</td><td>T</td><td>WHISKEY</td></tr>
<tr><td>GOLF</td><td>O</td><td>WHISKEY</td></tr>
<tr><td>VICTOR</td><td>X</td><td>ZULU</td></tr>
<tr><td>HOTEL</td><td>I</td><td>JULIET</td></tr>
<tr><td>INDIA</td><td>N</td><td>SIERRA</td></tr>
</tbody>
</table>