QWERTY and DVORAK keyboards are similar in design, but the letter and character distribution is COMPLETELY different! So what you do is you take "jrl.bdai.b" and you track what keys physically were hit, then lay over the QWERTY design over that to see what was actually spelled.<br />
<br />
You can use a site like <a href="http://wbic16.xedoloh.com/dvorak.html" target="_blank">http://wbic16.xedoloh.com/dvorak.html</a> to translate.