<!DOCTYPE html>
<html>
<head>
<title>
Final Puzzle
</title>
<style>
.guess {
  display: none;
}

#showguesses:checked~ul>li.guess {
  display: block;
}
</style>
</head>
<body>
<br />
<br />
There's a message here that stretches across all kinds of languages...Japanese, Welsh...<br />
<br />
<img src="https://i.imgur.com/HbSQB8z.png" />
<br />
<br />
You won't be able to see others guesses on this; if you guess this right, you'll know.<br />
<hr style="width:100%">
Remember, all puzzle answers are only letters, no symbols or numbers.<br />
<br />
<form id="myForm" method="POST">
  <%=username;%> has a guess of <input type="text" placeholder="Final Answer" name="answer" id="answer" />
  <input type="submit" text="Submit">
</form>
<br />
<br />
<%- include("../pages/footer.ejs") %>
</body>
</html>