<!DOCTYPE html>
<html>
<head>
  <title>
    JD's Christmas Puzzles because why not?
  </title>
</head>
<body>
<fieldset>
  <legend>Username</legend>
  <input autocomplete="off" type="text" id="username" /><input value="Update Username" type="button" onclick="document.cookie='username=' + document.getElementById('username').value" />
</fieldset>
  <%=message;%>
</body>
</html>
