<!DOCTYPE html>
<html>
<head>
<title>
<%=title;%>
</title>
</head>
<body>
<%- include(partial) %>
<br />
<br />
<form method="POST">
  <input type="text" placeholder="Puzzle Answer" name="answer" id="answer" />
  <input type="submit" text="Submit">
</form>
</body>
</html>
