<!DOCTYPE html>
<html style="background-image: url(background.jpg);">
<head>
  <title>
    JD's Christmas Puzzles because why not?
  </title>
</head>
<body style="padding-left: 370px;">
Ah, you found the bitly! Congratulations! There's a Discord <a href="http://discord.gg/8AMPd4A" target="_blank">here</a> to get people ready. Christmas Day, in the morning, this page will go live!<br />
<br />
Good luck.
</body>
</html>